{% block content_element_subheadline_backend %}

  <div class="tl_content_element tl_subheadline_wildcard">
    <strong>{{ headline|striptags }}</strong><br>
    <em>{{ subheadline|striptags }}</em>
  </div>

{% endblock %}